/*#region --- root ----*/
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --main-text-color-theme-dark: #ffffff;
  --main-text-color-theme-light: #212121;
  --secondary-text-color-theme-light: #757575;
  --accent-color: #2196f3;
  --btn-background-color: #188ce8;
  --accent-background-color-dark: #2f303a;
  --accent-background-color-grey: #f5f4fa;
  --color-line-header: #ececec;
  --color-line-box: #eeeeee;
  --icon-color: #afb1b8;
  --background-icon-color-dark: #ffffff1a;
  --accent-second-color: #2196f3e6;
  --modal-background-color: #00000033;
  --modal-border-btn-color: #0000001a;
  --black: #000000;
  --background-dark-transparant: #2f303acc;
  --border-color-grey: #21212133;
  --color-text-grey: #ffffff99;

  --space-between-clients: 30px;
  --amount-of-clients: 6;
  --space-between-exemples: 30px;
  --ammount-of-exemples-on-line: 3;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*#endregion --- root ----*/

/*#region --- Global settings ----*/
body {
  font-family: var(--main-font);
  color: var(--secondary-text-color-theme-light);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.centered {
  text-align: center;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.subtitle {
  color: var(--main-text-color-theme-light);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*#endregion --- /Global settings ----*/

/*#region --- HEADER ----*/
.logo {
  padding: 24px 0px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: #000000;
}

span.logo-part {
  color: var(--accent-color);
}

header .logo {
  margin-right: 93px;
}

.header {
  border-bottom: 1px solid var(--color-line-header);
}

.header-nav {
  display: flex;
  align-items: center;
}

.list.menu {
  display: flex;
}

.menu .menu-item + .menu-item {
  margin-left: 50px;
}

.menu-link {
  /* display: block; */
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-text-color-theme-light);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

.menu-link.current {
  color: var(--accent-color);
  position: relative;
}

.menu-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  /* bottom: 1px; */

  background-color: var(--accent-color);
}

.list.contacts {
  display: flex;
  margin-left: auto;
}

li.contacts-list + .contacts-list {
  margin-left: 50px;
}

.contacts-list-link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  width: inherit;
  height: inherit;

  color: var(--secondary-text-color-theme-light);

  transition: color 250ms var(--timing-function);
}
.header-nav .contacts-list-link {
  display: flex;
}
.header-nav .contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu-link:hover,
.menu-link:focus,
.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--accent-color);
}

/*#endregion --- /HEADER ----*/

/*#region --- HERO ----*/
.hero {
  background: #c4c4c4;
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header/header_main_picture.jpg);
  background-size: cover;
  background-position: center;
  background-color: var(--accent-background-color-dark);

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-text-color-theme-dark);
}

.modal-btn {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 10px 20px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-text-color-theme-dark);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);

  /* align-items: center; */
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--btn-background-color);
}

/*#endregion --- /HERO ----*/

/*#region --- MODAL WINDOW  ----*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  /* opacity: 1;
  visibility: visible; */
  background-color: var(--modal-background-color);
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  border-radius: 4px;
  padding: 40px;

  background-color: var(--main-text-color-theme-dark);

  transition: transform 250ms var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal-btn-closed {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;

  background-color: inherit;
  border: 1px solid var(--modal-border-btn-color);
  color: var(--black);
  cursor: pointer;

  transition: color 250ms var(--timing-function);
}

.btn-closed-icon {
  fill: currentColor;
}

.modal-btn-closed:hover,
.modal-btn-closed:focus {
  color: var(--accent-color);
}

.modal-action {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color-theme-light);
}
.form-box {
  display: flex;
  flex-direction: column;
}

.form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
  color: var(--main-text-color-theme-light);
}

.form-label:not(:last-child) {
  margin-bottom: 10px;
}

.form-label-span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color-theme-light);
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid var(--border-color-grey);
  outline: transparent;

  transition: border-color 250ms var(--timing-function);
}

.form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: currentColor;

  transition: fill 250ms var(--timing-function);
}

.form-input:focus,
.form-input:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}

.form-label:focus-within > .form-icon {
  fill: var(--accent-color);
}

textarea.form-input {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.label-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 30px;
}

.input-checkbox:checked + .agreement-box {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.input-checkbox:hover + .agreement-box,
.input-checkbox:focus + .agreement-box {
  border: 2px solid var(--accent-color);
}

.agreement-box {
  display: inline-block;
  width: 16px;
  height: 15px;
  color: var(--main-text-color-theme-dark);
  border: 2px solid var(--main-text-color-theme-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;

  transition: border-color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.agreement-box-icon {
  fill: currentColor;
}

.form-agreement-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color-theme-light);
}

.form-agreement-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-btm-submit {
  margin-left: auto;
  margin-right: auto;
}
/*#endregion --- /MODAL WINDOW  ----*/

/*#region --- BENEFITS  ----*/
.benefits-list {
  display: flex;
  justify-content: space-between;
}

.benefits-list-detail {
  width: calc((100% - 90px) / 4);
}

.benefits-list-detail:not(:last-child) {
  margin-right: 30px;
}
.benefits-box {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-background-color-grey);
}

.benefits-head {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*#endregion --- /BENEFITS  ----*/

/*#region --- ABOUT ----*/
.section.about {
  padding-top: 0;
}

.subject {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.about-gallery {
  display: flex;
}

.about-gallery-item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.about-gallery-item:not(:last-child) {
  margin-right: 30px;
}

.about-gallery-img {
  display: block;
}

.about-gallery-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  display: block;
  padding: 27px 40px;
  margin: 0;
  background-color: var(--background-dark-transparant);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-text-color-theme-dark);
}
/*#endregion --- /ABOUT  ----*/

/*#region --- EMPLOYEES ----*/
.employees {
  background-color: var(--accent-background-color-grey);
}

.employees-list {
  display: flex;
}

.employees-list-item {
  width: calc((100% - 90px) / 4);
  padding-bottom: 30px;
  background-color: var(--main-text-color-theme-dark);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employees-list-item:not(:last-child) {
  margin-right: 30px;
}

.employees-list-img {
  margin-bottom: 30px;
}

.employees-list-name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.employess-list-position {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.list-icon {
  display: flex;
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  color: var(--icon-color);
  justify-content: space-between;
}

.social-link-icon {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.social-icon {
  fill: currentColor;
  margin-left: auto;
  margin-right: auto;
}

.social-link:hover,
.social-link:focus {
  color: var(--main-text-color-theme-dark);
  background-color: var(--accent-color);
}

/*#endregion --- /EMPLOYEES  ----*/

/*#region --- CLIENTS  ----*/
.clients-list {
  display: flex;
}

.clients-box {
  flex-basis: calc(
    (100% - ((var(--amount-of-clients) - 1) * var(--space-between-clients))) /
      var(--amount-of-clients)
  );
}
.clients-box:not(:last-child) {
  margin-right: var(--space-between-clients);
}
.clients-link {
  display: flex;
  /* width: 170px; */
  /* flex-basis: calc((100% - 150px) / 6); */
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  align-items: center;
  color: var(--icon-color);

  transition: color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}
.clients-icon {
  width: 106px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
/*#endregion --- /CLIENTS  ----*/

/*#region --- FOOTER ----*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-background-color-dark);
}
.footer-flex {
  display: flex;
  align-items: baseline;
  /* justify-content: space-between; */
}
.footer-box:first-child {
  width: 231px;
  margin-right: 70px;
}
.footer-box:nth-child(2) {
  margin-right: 93px;
}
footer .logo {
  margin-bottom: 20px;
}

.address {
  font-style: inherit;
}

.contacts-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

footer .logo,
.footer-address,
.footer-address:hover,
.footer-address:focus {
  color: var(--main-text-color-theme-dark);
}

.address {
  margin-top: 20px;
}

.footer-address {
  cursor: pointer;
}

.address-list:not(:first-child) {
  margin-top: 9px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-title {
  margin-bottom: 20px;
  color: var(--main-text-color-theme-dark);
  display: block;
}
.footer-box > .list-icon {
  color: var(--main-text-color-theme-dark);
}
footer .social-link {
  background-color: var(--background-icon-color-dark);
}

.footer-action {
  flex-grow: 1;
}

.footer-box-action {
  display: flex;
  justify-content: space-between;
}

.footer-label-email {
  display: inline-block;
  flex-grow: 1;
}

.footer-input-email {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  outline: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;

  color: var(--color-text-grey);

  transition: border-color 250ms var(--timing-function);
}
.footer-input-email:hover,
.footer-input-email:focus {
  border-color: var(--main-text-color-theme-dark);
}
.footer-bnt-action {
  margin-left: 12px;
}

.btn-telegram {
  width: 200px;
  margin-left: 10px;
  fill: currentColor;
}
/*#endregion --- /FOOTER  ----*/

/* +++++++++++++++++++++++++++
PAGE 2. PAGE 2. ---------------PORTFOLIO----------------- PAGE 2. PAGE 2
++++++++++++++++++++++++++++++*/

/*#region ---  BUTTONS ----*/
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item + .button-item {
  margin-left: 8px;
}

.button-pic {
  min-width: 73px;
  height: 38px;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  color: var(--main-text-color-theme-light);
  background-color: var(--accent-background-color-grey);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.button-pic:hover,
.button-pic:focus,
.button-pic.current {
  background-color: var(--accent-color);
  color: var(--main-text-color-theme-dark);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*#endregion --- /BUTTONS  ----*/

/*#region ---  examples ----*/
.examples-list {
  display: flex;
  flex-wrap: wrap;
}

.examples-list-item {
  flex-basis: calc(
    (
        100% -
          (
            (var(--ammount-of-exemples-on-line) - 1) *
              var(--space-between-exemples)
          )
      ) / var(--ammount-of-exemples-on-line)
  );
  position: relative;
}

.examples-list-item:not(:nth-child(3n)) {
  margin-right: var(--space-between-exemples);
}

.examples-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: var(--space-between-exemples);
}

.examples-link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}

.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-list-img,
.examples-list-position {
  margin-top: 0;
  margin-bottom: 0;
}

.examples-list-img {
  display: block;
}

.examples-two-layer {
  position: relative;
  overflow: hidden;
}

.exemples-second-layer-text {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  background-color: var(--accent-second-color);
  opacity: 0;
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-text-color-theme-dark);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
}

.examples-link:hover .exemples-second-layer-text,
.examples-link:focus .exemples-second-layer-text {
  opacity: 1;
  transform: translateY(0);
}

.examples-box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid var(--color-line-box);
  border-bottom: 1px solid var(--color-line-box);
  border-right: 1px solid var(--color-line-box);
}

.examples-list-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.examples-list-position {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
/*#endregion --- /examples  ----*/

/* ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^ */

/*#region ---   ----*/

/*#endregion --- /  ----*/
